#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient($color-primary, $color-secondary);
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
    overflow: auto;
    z-index: 3;
    animation-name: disappearance;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    @keyframes disappearance {
        0%{opacity: 1; z-index: 3;}
        25%{opacity: 0.75; z-index: 3;}
        50%{opacity: 0.5; z-index: 3;}
        75%{opacity: 0.25;z-index: 3;}
        100%{opacity: 0; z-index: -1;}
    }
    .loading-logo{
      width: 50%;
      margin-top: 5%;
    }
    #loading-waiting{
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding-top: 20%;
      .loading-waiting__carre{
        width: 50px;
        height: 50px;
        background-color: $color-primary;
        animation: turn 1.5s alternate infinite;
        @keyframes turn{
          0%{transform: rotate(0deg);}
          100%{transform: rotate(359deg);}
      }
      } //* Fermeture loading-waiting__carre *//
    } //* Fermeture loading-waiting *//
    .loading-text{
      font-family: $font;
      width: 80%;
      text-align: center;
      font-size: 40px;
      color: white;
      margin-top: 15%;
    }
  } //* Fermeture loading *//