$dark-grey: #e6e6e6;
$light-grey: #F4F2F2;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font: 'Roboto', sans-serif;
$logo-font: 'Shrikhand', cursive;
$button-color: linear-gradient(to bottom right, $color-secondary, $color-primary);